/*! baslık  start */
.menu .box-container p{
    margin-top: 1vh;
    margin-right: 15vh;
    margin-bottom: 10vh;
}
.menu .box-container a{
    font-size: 15px;
}
.menu .box-container .a{
    font-family: sans-serif;
}
/*! baslık  end */